<%= render 'partial/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- vertical-navbar -->
      <%= render 'partial/verticalnavbar' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">住所の編集</div>
        <div class="panel-body">
          <%= form_for @listing do |f| %>
					<div class="form-group">
           <%= f.label :住所 %><br>
           <%= f.text_field :address,class: "form-control",placeholder: "(例)東京都港区六本木1丁目111-1" %>
         	</div>
					<div class="actions">
						<%= f.submit "保存する",class:"btn btn-primary" %>
					</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
